
/* --------- sidebar --------- */

.sidebar {
	float: left;
	width: 333px;
	box-sizing: border-box;
}
.flagman{
	width: 100%;
	display: block;
	@include border-radius(5px);
	margin-bottom: 20px;
}

.flagman_list{
	display: block;
	
}
.flagman__item{
	border: 1px solid rgb(222, 225, 228);
	background-color: rgba(255, 255, 255, 0.6);	
	border-bottom: none;
	cursor: pointer;	
	&:first-child{
		
		@include border-radius(5px 5px 0 0);		
	}
	&:last-child{
		@include border-radius(0 0 5px 5px);
		border-bottom: 1px solid rgb(222, 225, 228);				
	}
	&:hover{
		background-color: #ddd;
	}	
	&-active{
		  background-color: rgb(217, 229, 234);
	}
}
.flagman__link{
	text-decoration: none;
	padding: 10px 28px;
	font-size: 14px;
	color: rgb(127, 127, 127);
	line-height: 3.1;
	width: 100%;
}


