/* --------- sidebar --------- */
.sidebar
{
    display: flex;
    flex-direction: column;

    width: 30%;
}

.filters
{
    width: 100%;
    margin-bottom: 42px;

    border-radius: 5px;
    background-color: #fff;
}

.filters__list
{
    list-style: none;
}

.filters__item
{
    padding: 13px 30px 20px 30px;

    border-bottom: 1px solid #dee1e4;

    &:last-child
    {
        border-bottom: none;
    }
}

.filter__title
{
    font-family: $font_bold;
    font-size: 14px;

    position: relative;

    display: block;

    text-decoration: none;

    color: $color_dark;

    &:hover
    {
        font-family: $font_very_bold;
    }
}

.manage-filter
{
	position: absolute;
	top: 8px;
	right: -8px;

	display: block;

	width: 18px;
	height: 11px;

    background-image: url(../images/ar.png);
}

.active .manage-filter
{
	background-image: url(../images/ar^.png);
}

.filter__item
{
    display: block;

    margin-top: 16px;

    list-style: none;
}

.input_type_radio,
.input_type_checkbox
{
    display: none;
}

.label_type_radio
{
    font-size: 14px;

    position: relative;

    display: inline-block;

    padding-left: 29px;

    cursor: pointer;
}

.label_type_radio:before
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 19px;
    height: 19px;
    margin-right: 10px;

    content: '';

    background-color: #fff;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .2);
}

.label_type_radio:before
{
    border-radius: 9px;
}

.input_type_radio:checked + .label_type_radio:before
{
    font-size: 42px;
    line-height: 13px;

    position: absolute;

    box-sizing: border-box;
    width: 19px;
    height: 19px;

    content: '\2022';

    color: $color_orange;
    border: 2px solid $color_orange;
    border-radius: 50%;
    box-shadow: none;
}

.label_type_checkbox
{
    position: relative;

    cursor: pointer;
}

.label_type_checkbox:before
{
    left: 0;

    display: inline-block;

    width: 19px;
    height: 19px;
    margin-right: 10px;
    margin-bottom: -4px;

    content: '';

    border-radius: 3px;

    @include box-shadow(inset 0px 0px 0px 1px rgba(0, 0, 0, .3));
}

.input_type_checkbox:checked + .label_type_checkbox:before
{
    width: 19px;
    height: 19px;

    background: $color_orange;
    box-shadow: none;
}

.input_type_checkbox:checked + .label_type_checkbox:after
{
    font-size: 10px;

    position: absolute;
    top: 2px;
    left: 4px;

    width: 8px;
    height: 6px;

    content: '';
    transform: rotate(125deg) skew(0,0);

    color: #fff;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
}

.reset-filter
{
    font-size: 14px;
    line-height: 1.2;

    display: block;

    margin-top: 14px;

    color: rgb(93, 178, 252);
}

.color
{
    font-size: 0;

    width: 213px;

    &__item
    {
        display: inline-block;

        width: 37px;
        height: 37px;
        margin-right: 19px;
        margin-bottom: 18px;

        @include box-sizing;
    }

    &__link
    {
        display: block;

        width: 37px;
        height: 37px;

        border: 1px solid #dee1e4;

        @include box-sizing;
        &:hover
        {
            border: 2px solid $color_orange;
        }


    }

    &__text
    {
        position: absolute;
        top: 0;
        left: -9999px;
    }
}

.choosen
{
    border: 2px solid $color_orange;
}

.color__list
{
    display: block;

    margin-top: 14px;
    margin-bottom: -22px;
}


.price-range
{
    margin-top: 16px;

    &__input
    {
        font-family: $font_bold;
        font-size: 14px;

        width: 80px;
        padding: 5px 6px;

        border: 1px solid #ebedef;
        border-radius: 3px;

        @include box-sizing;
        @include box-shadow(inset 0 1px 1px rgba(148, 148, 148, .43));
    }

    &__box
    {
        display: flex;
		justify-content: space-between;
    }

    #price-range2
    {
        margin-right: 0;
    }

    &__slider
    {
        width: 273px;
        height: 3px;

        cursor: pointer;

        border: 0;
        background-color: #dee1e4;
    }
    &__text
    {
        font-size: 14px;
    }
}

.white
{
	background-color: white;
}

.gray
{
	background-color: #ccc;
}

.black
{
	background-color: black;
}

.blue
{
	background-color: #0a3153;
}

.red
{
	background-color: #ff1800;
}

.yellow
{
	background-color: #fff343;
}

.orange
{
	background-color: #fb914a;
}

.green
{
	background-color: #92c37c;
}

.skyblue
{
	background-color: #40a6ff;
}

.violet
{
	background-color: #9870ad;
}

.pink
{
	background-color: #dc78ad;
}

.brown
{
	background-color: #7f401d;
}

.ui-slider
{
    position: relative;

    margin-top: 18px;
    margin-bottom: 10px;
}

.ui-slider .ui-slider-range
{
    font-size: .7em;

    position: absolute;
    z-index: 1;

    display: block;

    border: 0;
    background: $color_orange;
    background-position: 0 0;
}

.ui-slider-horizontal .ui-slider-range
{
    top: 0;

    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min
{
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max
{
    right: 0;
}

.ui-slider .ui-slider-handle
{
    position: absolute;
    z-index: 0;
    top: -1px;

    width: 8px;
    margin-left: -4px;

    cursor: pointer;

    border: none;
    background-image: url(../images/cursor.png);

    &:focus
    {
        border: none;
    }
}
