extends ../main

block title
	| Мобильные телефоны

block navigation
	+breadcrumbs(['Главная', "Каталог"])
	h1.main_head_text Мобильные телефоны
	
block content	
	ul.products_list1
		li.products
			.products__slideshow
				.slideshow 
					img(src="images/img/samsung.jpg", alt="").big-photo 
				ul.mini__list
					li.mini__item.mini__item-active
						img(src="images/img/samsung1.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung2.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung3.jpg", alt="").mini__img
				.products__articul
					span.art Артикул
					span.art_number 189238
			.products_center_content
				.products__title Samsung GT-I9301I  GALAXY 
				.products__info Смартфон Samsung GT- I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц...   
				.products__feature
					ul.features__list
						li.features__item
							.features_name Тип SIM-карты 
							.features_value Micro-SIM
						li.features__item
							.features_name Количество SIM-карт
							.features_value 1
						li.features__item
							.features_name Цвет
							.features_value Белый
						li.features__item
							.features_name ОC
							.features_value Android
						li.features__item
							.features_name Связь 3G
							.features_value Есть
						li.features__item
							.features_name 4G (LTE)
							.features_value Нет
						li.features__item
							.features_name GPS-модуль 
							.features_value Есть
				.products__reiting
					.reiting__stars
						ul.stars
							li.star_full
							li.star_full
							li.star_full
							li.star_full
							li.star_empty
					.reiting__value 4
			.products_right_content
				.products__price 11 290 Р
				.products_nallichie В наличии
				button.products__buy В корзину
		li.products
			.products__slideshow
				.slideshow 
					img(src="images/img/samsung.jpg", alt="").big-photo 
				ul.mini__list
					li.mini__item.mini__item-active
						img(src="images/img/samsung1.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung2.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung3.jpg", alt="").mini__img
				.products__articul
					span.art Артикул
					span.art_number 189238
			.products_center_content
				.products__title Смартфон Microsoft Lumia 640 RM-107754623 
				.products__info Смартфон Samsung GT- I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц...   
				.products__feature
					ul.features__list
						li.features__item
							.features_name Тип SIM-карты 
							.features_value Micro-SIM
						li.features__item
							.features_name Количество SIM-карт
							.features_value 1
						li.features__item
							.features_name Цвет
							.features_value Белый
						li.features__item
							.features_name ОC
							.features_value Android
						li.features__item
							.features_name Связь 3G
							.features_value Есть
						li.features__item
							.features_name 4G (LTE)
							.features_value Нет
						li.features__item
							.features_name GPS-модуль 
							.features_value Есть
				.products__reiting
					.reiting__stars
						ul.stars
							li.star_full
							li.star_full
							li.star_full
							li.star_full
							li.star_empty
					.reiting__value 4
			.products_right_content
				.products__price 11 290 Р
				.products_nallichie В наличии
				button.products__buy В корзину
		li.products
			.products__slideshow
				.slideshow 
					img(src="images/img/samsung.jpg", alt="").big-photo 
				ul.mini__list
					li.mini__item.mini__item-active
						img(src="images/img/samsung1.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung2.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung3.jpg", alt="").mini__img
				.products__articul
					span.art Артикул
					span.art_number 189238
			.products_center_content
				.products__title Samsung GT-I9301I  GALAXY S 3
				.products__info Смартфон Samsung GT- I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц...   
				.products__feature
					ul.features__list
						li.features__item
							.features_name Тип SIM-карты 
							.features_value Micro-SIM
						li.features__item
							.features_name Количество SIM-карт
							.features_value 1
						li.features__item
							.features_name Цвет
							.features_value Белый
						li.features__item
							.features_name ОC
							.features_value Android
						li.features__item
							.features_name Связь 3G
							.features_value Есть
						li.features__item
							.features_name 4G (LTE)
							.features_value Нет
						li.features__item
							.features_name GPS-модуль 
							.features_value Есть
				.products__reiting
					.reiting__stars
						ul.stars
							li.star_full
							li.star_full
							li.star_full
							li.star_full
							li.star_empty
					.reiting__value 4
			.products_right_content
				.products__price 11 290 Р
				.products_nallichie В наличии
				button.products__buy В корзину
		
	.path_products
		ul.path__list
			li.path__item 
				a(href="").path__link <
			li.path__item 
				a(href="").path__link.path__link-active 1
			li.path__item 
				a(href="").path__link 2
			li.path__item 
				a(href="").path__link 3
			li.path__item 
				a(href="").path__link >


              
                    
 
 
                                         
                                             
	



