extends ../main

block title
	| Мобильные телефоны

block navigation
	+breadcrumbs(['Главная', "Каталог"])
	h1.main_head_text Мобильные телефоны
	
block content	
	ul.products_list
		li.products
			.products__slideshow
				.slideshow 
					img(src="images/img/samsung.jpg", alt="").big-photo 
				ul.mini__list
					li.mini__item.mini__item-active
						img(src="images/img/samsung1.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung2.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung3.jpg", alt="").mini__img
			.products__title Samsung GT-I9301I  GALAXY S 3   
			.products__feature
				ul.features__list
					li.features__item
						.features_name Тип SIM-карты 
						.features_value Micro-SIM
					li.features__item
						.features_name Количество SIM-карт
						.features_value 1
					li.features__item
						.features_name Цвет
						.features_value Белый
					li.features__item
						.features_name ОC
						.features_value Android
					li.features__item
						.features_name Связь 3G
						.features_value Есть
					li.features__item
						.features_name 4G (LTE)
						.features_value Нет
					li.features__item
						.features_name GPS-модуль 
						.features_value Есть
			.products__reiting
				.reiting__stars
					ul.stars
						li.star_full
						li.star_full
						li.star_full
						li.star_full
						li.star_empty
				.reiting__value 4
			.products__price 11 290 Р
			.products_nallichie В наличии
			button.products__buy В корзину
		li.products
			.products__slideshow
				.slideshow 
					img(src="images/img/samsung.jpg", alt="").big-photo 
				ul.mini__list
					li.mini__item.mini__item-active
						img(src="images/img/samsung1.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung2.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung3.jpg", alt="").mini__img
			.products__title Samsung GT-I9301I  GALAXY S 3   
			.products__feature
				ul.features__list
					li.features__item
						.features_name Тип SIM-карты 
						.features_value Micro-SIM
					li.features__item
						.features_name Количество SIM-карт
						.features_value 1
					li.features__item
						.features_name Цвет
						.features_value Белый
					li.features__item
						.features_name ОC
						.features_value Android
					li.features__item
						.features_name Связь
						.features_value 3G
					li.features__item
						.features_name 4G (LTE)
						.features_value Есть
					li.features__item
						.features_name GPS-модуль Есть
						.features_value Нет
			.products__reiting
				.reiting__stars
					ul.stars
						li.star_full
						li.star_full
						li.star_full
						li.star_full
						li.star_empty
				.reiting__value 4
			.products__price 11 290 Р
			.products_nallichie В наличии
			button.products__buy В корзину
		li.products
			.products__slideshow
				.slideshow 
					img(src="images/img/samsung.jpg", alt="").big-photo 
				ul.mini__list
					li.mini__item.mini__item-active
						img(src="images/img/samsung1.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung2.jpg", alt="").mini__img
					li.mini__item
						img(src="images/img/samsung3.jpg", alt="").mini__img
			.products__title Samsung GT-I9301I  GALAXY S 3   
			.products__feature
				ul.features__list
					li.features__item
						.features_name Тип SIM-карты 
						.features_value Micro-SIM
					li.features__item
						.features_name Количество SIM-карт
						.features_value 1
					li.features__item
						.features_name Цвет
						.features_value Белый
					li.features__item
						.features_name ОC
						.features_value Android
					li.features__item
						.features_name Связь
						.features_value 3G
					li.features__item
						.features_name 4G (LTE)
						.features_value Есть
					li.features__item
						.features_name GPS-модуль Есть	
						.features_value Нет
			.products__reiting
				.reiting__stars
					ul.stars
						li.star_full
						li.star_full
						li.star_full
						li.star_full
						li.star_empty
				.reiting__value 4
			.products__price 11 290 Р
			.products_nallichie В наличии
			button.products__buy В корзину
		



              
                    
 
 
                                         
                                             
	



