extends ../main

block title
	| Главная страница

block navigation
	+breadcrumbs(['Главная', "Каталог"])
	h1.main_head_text Мобильные телефоны
	
block content	
	.article-inner
		| Я контент главной страницы



