.filters
	ul.filters__list
		li.filters__item
			a(href="#").filter__title.active Наличие в магазинах
				i.manage-filter
			.filter.filter_type_shop
				ul.filter__list
					li.filter__item.filter__item_type_radio
						input(type="radio" id="all" name="availible" checked).input.input_type_radio
						label(for="all").label.label_type_radio Во всех магазинах
					li.filter__item.filter__item_type_radio
						input(type="radio" id="near" name="availible").input.input_type_radio
						label(for="near").label.label_type_radio В ближайшем ко мне магазине
		li.filters__item
			a(href="#").filter__title.active Бренды
				i.manage-filter
			.filter.filter_type_brands
				ul.filter__list
					+checkbox(['Lenovo', 'Apple', 'Samsung', 'Asus', 'Motorola'])
					a(href="#").reset-filter Сбросить фильтр
		li.filters__item
			a(href="#").filter__title.active Цена
				i.manage-filter
			.filter.filter_type_price
				.price-range
					div.price-range__box
						span.price-range__text от
						input(type="text" id="price-range1").price-range__input
						span.price-range__text до
						input(type="text" id="price-range2").price-range__input
					div.price-range__slider
		li.filters__item
			a(href="#").filter__title.active Цвет
				i.manage-filter
			.filter.filter_type_color
				ul.filter__list
					+colorChoose(['white', 'gray', 'black', 'blue', 'red', 'yellow', 'orange', 'green', 'skyblue', 'violet', 'pink', 'brown'])
		li.filters__item
			a(href="#").filter__title.active Операционная система
				i.manage-filter
			.filter.filter_type_oc
				ul.filter__list
					+checkbox(['Android', 'iOS', 'Windows Mobile', 'Symbian', 'Custom'])
					a(href="#").reset-filter Сбросить фильтр
